/* global styles
---------------------------------------------*/
* {-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
  font-family: 'Muli', sans-serif;
  margin: 0px;
}
p {
  margin: 0px;
}

/* header
-----------------------------------------------*/
.initials {
  position: fixed;
  top: 4vh;
  left: 4vh;
  font-size: 1.5em;
  font-family: 'Poiret One', cursive;
  z-index: 1;
}
.contact {
  position: fixed;
  top: 4vh;
  right: 4vh;
  z-index: 1;
}
.contact li {
  list-style: none;
  display: inline;
  margin-left: 10px;
}

.contact li a {
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

/* main
--------------------------------------------- */
.first-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(232, 230, 230, 0.3);
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title > p {
  line-height: 1.5em;
  font-family: 'Muli', sans-serif;
  text-align: left;
  font-size: 1.4em;
  letter-spacing: 0.01em;
  font-weight: 300;
  width: 85vw;
  margin-bottom: 20px;
}

/* work
---------------------------------------------- */
.my-container {
  position: relative;
  max-width: 90vw;
  padding: 0;
}
.line{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  width: 1px;
  height: 100px;
  margin-top: -100px;
}
.card-container {
  margin: 50px auto 100px;
}
.my-card {
  background: transparent;
  border: none;
  max-width: 90vw;
  margin: 50px auto 0;
}
h2 {
  font-family: 'Muli', sans-serif;
  margin: 30px 0 20px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  font-size: 1.5em;
}
.card-p {
  font-size: 0.9em;
  /* font-family: 'Montserrat', san-serif; */
  font-weight: 100;
  text-align: left;
  line-height: 1.5em;
}
.card-p:nth-child(2) {
  margin-bottom: 20px;
}
.my-card-title {
  text-align: left;
}
.fa-github-square {
  color: rgba(28, 42, 64, 0.6);
  font-size: 1.8em;
  margin: 10px;
}
.fa-github-square:hover {
  color:  rgba(28, 42, 64, 0.8);
}
.site-img {
  width: 100%;
  height: 50vw;
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.site-img:hover {
  opacity: 0.7;
}

/* footer
---------------------------------------------- */
footer {
  background: rgba(232, 230, 230, 0.3);
  height: 300px;
}
.connect, .full-name {
  margin: 0 auto;
  width: 80vw;
  padding-top: 20px;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 1.1em;
}
.connect p:nth-child(1), .full-name p:nth-child(1) {
  font-weight: 400;
}


/* media query
---------------------------------------------- */
@media screen and (min-width: 540px) {
  .initials {
    top: 3vw;
    left: 3vw;
  }
  .contact {
    position: fixed;
    top: initial;
    bottom: 2vw;    
    right: 2vw;
    height: 200px;
  }
  .contact li {
    margin-top: 2.5em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: block;
  }
  .title > p {
    font-size: 30px;
    width: 80vw;
  }

  .my-card {
    margin: 80px auto 0;
  }
}
@media screen and (min-width: 766px) {
  .my-container {
    max-width: 85vw;
  }
  .card-container {
    margin: 50px auto 140px;
  }
  .site-img {
    height: 250px;
  }
  .my-card {
    margin: 90px auto 0;
  }
}
@media screen and (min-width: 992px) {
  .title > p {
    font-size: 30px;
  }
  .card-container {
    margin: 50px auto 180px;
  }
  .site-img {
    height: 330px;
  }
  .my-card {
    margin: 130px auto 0;
  }
  h2 {
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  
}

/* animation - showCard
---------------------------------- */
.showCard {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}

.isShow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}