/* global styles
---------------------------------------------*/
* {-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
  font-family: Geogia, serif;
  text-align: center;
  margin: 0px;
}
p {
  margin: 0px;
}

/* header
-----------------------------------------------*/
/* Styles the header */
.unshown {
  display: none;
}
#burger + #nav-open {
  position: fixed;
  top: 25px;
  left: 25px;
  height: 30px;
  width: 30px;
  z-index: 7;
}

/* Styles the two lines and X icon */
#nav-open span {
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background: rgba(0,0,0, 0.9); 
  transition: .5s;
}
#nav-open span:nth-of-type(1) {
  top: 0;
}
#nav-open span:nth-of-type(2) {
  top: 10px;
  width: 60%;
}
label:hover {
  cursor: pointer;
}
#burger:checked ~ #nav-open span:nth-of-type(1) {
  transform: translateY(10px) rotate(-225deg);
  background: rgba(0,0,0, 0.5);
}
#burger:checked ~ #nav-open span:nth-of-type(2) {
  transform: translateY(0px) rotate(225deg);
  width: 100%;
  background: rgba(0,0,0, 0.5);
}

/* Styles the black background */
#nav-back {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  transition: all .5s;
}
#burger:checked ~ #nav-back {
  display: block;
}

/* Styles the content of the navigation */
.nav{
  position: fixed;
  text-align: left;
  overflow: auto;
  height: 100vh;
  width: 270px;
  max-width: 90vw;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0px;
  left: 0px;
  transform: translateX(-105%);
  transition: all .5s ease-in-out;
}
.nav {
  margin: 0;
  padding: 0;
}
.nav > li:first-child {
  margin-top: 90px;
}
.nav li {
  list-style-type: none;
}
.nav > li > a {
  visibility: hidden;
  opacity: 0;
  text-decoration: none;
  text-align: right;
  margin: 20px 25px 20px 140px;
  color: rgba(0,0,0, 0.9); 
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 20px;
}
#burger:checked ~ .nav{
  transform: translateX(0%);
  z-index: 6;
}
#burger:checked ~ .nav > li > a {
  visibility: visible;
  opacity: 1;
}

/* main
--------------------------------------------- */
.first-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(232, 230, 230, 0.3);
}
h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Carrois Gothic', sans-serif;
  color: rgba(0,0,0, 0.9); 
  letter-spacing: 0.02em;
  margin: 0;
  text-align: left;
}
.title {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -47%);
  width: 12em;
}
.title > p {
  margin-top: 0.5em;
  padding-left: 0.2em;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  letter-spacing: 0.01em;
  font-weight: lighter;
}

/* Infinite Typewriting (write, delete, and rewrite)
-------------------------------------------------------------*/
#fragment1 {
  margin-bottom: 0;
  display: block;
  white-space: nowrap; /* Keeps the content on a single line */
  overflow: hidden; /* for the content not to be revealed until the animation*/
  border-right: .15em solid rgba(0,0,0, 0.9);  /* The typwriter cursor */

  -webkit-animation: frag1type 24s steps(40, end) 0s infinite,
          blink-caret 750ms steps(40, end) infinite normal;
  animation: frag1type 24s steps(40, end) 0s infinite,
          blink-caret 750ms steps(40, end) infinite normal;
}
@keyframes frag1type {
  /* width can be adjusted for each word length */
  from { width: 0; border-right:.15em solid rgba(0,0,0, 0.9);  }
  10%{width:9.45em; border-right:.15em solid rgba(0,0,0, 0.9);  } 
  19%{width:9.45em; border-right:.15em solid rgba(0,0,0, 0.9);  }
  24%{width:0;  border-right:.15em solid rgba(0,0,0, 0.9); }
  40%{width:0; border-right:none;  }
  100%{width:0; border-right: none; }
}
@-webkit-keyframes frag1type {
  from { width: 0; border-right:.15em solid rgba(0,0,0, 0.9);  }
  10%{width:9.45em; border-right:.15em solid rgba(0,0,0, 0.9);  }
  19%{width:9.45em; border-right:.15em solid rgba(0,0,0, 0.9);  }
  24%{width:0;  border-right:.15em solid rgba(0,0,0, 0.9); }
  40%{width:0; border-right:none;  }
  100%{width:0; border-right: none; }
  }
@keyframes blink-caret {
  from {border-color: rgba(0,0,0, 0.9); }
  to {border-color: transparent; }
}
#fragment2 {
  margin-bottom: 0;
  margin-top: -1.2em;
  display: block;
  opacity: 0;
  white-space:nowrap;
  overflow: hidden;
  border-right: .15em solid rgba(0,0,0, 0.9);  /* The typwriter cursor */

  -webkit-animation: frag2type 24s steps(25, end) 8s infinite,
            blink-caret 750ms steps(25, end) infinite normal;
  animation: frag2type 24s steps(25, end) 8s infinite,
            blink-caret 750ms steps(25, end) infinite normal;
}
@keyframes frag2type{
  from { width: 0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  10%{width: 7.2em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  19%{width: 7.2em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  24%{width:0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  40%{width:0; opacity:1; border-right:none; }
  100%{width:0; opacity:1; border-right:none; }
}
@-webkit-keyframes frag2type{
  from { width: 0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  10%{width: 7.2em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  19%{width: 7.2em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  24%{width:0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  40%{width:0; opacity:1; border-right:none; }
  100%{width:0; opacity:1; border-right:none; }
}
#fragment3 {
  margin-bottom: 0;
  margin-top: -1.2em;
  display: block;
  opacity: 0;
  white-space:nowrap;
  overflow: hidden;
  border-right: .15em solid rgba(0,0,0, 0.9);  /* The typwriter cursor */

  -webkit-animation: frag3type 24s steps(30, end) 16s infinite,
            blink-caret 750ms steps(30) infinite normal;
  animation: frag3type 24s steps(30, end) 16s infinite,
            blink-caret 750ms steps(30) infinite normal;
}
@keyframes frag3type{
  from {width: 0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  10%{width:8.9em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  19% {width:8.9em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  24%{width:0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  40%{width:0; opacity:1; border-right:none; }
  100%{width:0; opacity:1; border-right: none; }
}
@-webkit-keyframes frag3type{
  from {width: 0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  10%{width:8.9em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  19% {width:8.9em; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  24%{width:0; opacity:1; border-right:.15em solid rgba(0,0,0, 0.9);}
  40%{width:0; opacity:1; border-right:none; }
  100%{width:0; opacity:1; border-right: none; }
}


/* before launching a site
-------------------------------------------------------*/
header > .nav > li {
  display:none;
}
.message {
  position: fixed;
  top: 90px;
  padding: 35px 25px;
  text-align: left;
  opacity: 0;
  max-width: 90vw;
}
#burger:checked ~ .nav > .message {
  opacity: 1;
}
.message > p{
  font-size: 17px;
  font-family: 'Muli', sans-serif;
  color: rgba(0,0,0, 0.9); 
  font-weight: lighter;
  margin-bottom: 25px;
}
.underline {
  background: linear-gradient(transparent 60%, #f5c6d7 60%);
  text-decoration: none;
  color: rgba(0,0,0, 0.7); 
}
.underline:hover {
  background: linear-gradient(transparent 60%, #fd8fb7 60%);
}
.social {
  text-align: left;
}
.social > a {
  text-decoration: none;
  color: rgba(0,0,0, 0.5); 
}
.fa-linkedin-in, .fa-github, .fa-envelope {
  margin: 10px;
  font-size: 1.4em;
}
.social > a:hover {
  color: rgba(0,0,0, 0.9); 
}


/* work
---------------------------------------------- */
.wrap {
  background-color: rgba(230, 230, 230, 0.3);
  padding: 70px 0;
  position: relative;
}
.back {
  position: absolute;
  top: 5px;
  left: 25px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2em;
}
.back:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.my-card {
  background: transparent;
  border: none;
  max-width: 90vw;
  margin: 50px auto;
  padding: 0 8px;
}
h2 {
  font-family: 'Muli', sans-serif;
  margin: 20px 0;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  font-size: 1.6em;
}
p {
  font-size: 0.75em;
  font-family: 'Montserrat', san-serif;
  font-weight: 100;
  text-align: left;
  margin-bottom: 20px;
}
.my-card-title {
  text-align: left;
}
.fa-github-square {
  color: rgba(28, 42, 64, 0.6);
  font-size: 1.8em;
  margin: 10px;
}
.fa-github-square:hover {
  color:  rgba(28, 42, 64, 0.8);
}
.site-img {
  width: 100%;
  height: 190px;
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.site-img:hover {
  opacity: 0.7;
}

@media screen and (min-width: 500px) {
  .nav {
    width: 340px;
  }
  .message {
    padding: 35px 33px;
  }
  .message > p {
    font-size: 20px;
  }
  h1 {
    font-size: 55px;
  }
  .title > p {
    font-size: 30px;
  }
  .title {
    width: 16em;
  }
  .site-img {
    height: 300px;
  }
  p {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) {
  .site-img {
    height: 230px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 65px;
  }
  .title > p {
    font-size: 30px;
  }
  .title {
    width: 16em;
  }
  .site-img {
    height: 290px;
  }
  .my-card {
    margin: 70px auto;
  }
  h2 {
    font-weight: 400;
  }
  .wrap {
    padding: 80px 0;
  }
}
@media screen and (min-width: 1200px) {
  .site-img {
    height: 330px;
  }
}

/* animation - showCard
---------------------------------- */
.showCard {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}

.isShow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}